<body>
    <div class="banner-container">
      <img class="banner__main" src="assets/img/banner.jpg" alt="" max-width="100%" />
      <img class="banner__angular" src="assets/img/Angular-logo.png" alt="" max-width="100%">
    </div>
    <div class="perfil">
      <img src="assets/img/perfil.jpeg" alt="">
      <h2 class="footer-container">Santiago F. Alfonzo <br> Full Stack Developer Jr.</h2>
    </div>
    <div class="descripcion">
      <h3>Acerca de mi</h3>
      <p class="container-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
      <h3>Experiencia</h3>
      <p class="container-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
      <h3>Educacion</h3>
      <p class="container-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
    </div>
    <div>
      <h3>Hard y Soft Skills</h3>
    </div>
    <div class="container">
      <div id="circle1" class="circular-progress">
        <span id="skill1" class="progress-value">85%</span> <span class="text">HTML & CSS</span>
      </div>
  
  
      <div id="circle2" class="circular-progress">
        <span id="skill2" class="progress-value">50%</span> <span class="text">JavaScript</span>
      </div>
  
  
      <div id="circle3" class="circular-progress">
        <span id="skill3" class="progress-value">50%</span><span class="text">Angular</span>
      </div>
  
  
      <div id="circle4" class="circular-progress">
        <span id="skill4" class="progress-value">50%</span> <span class="text">MySQL</span>
      </div>
  
    </div>
  
    <div class="projects-container">
      <h3>Proyectos</h3>
      <a class="link__proyects" href="https://spectacular-praline-8d4fea.netlify.app/">Argentina Programa</a>
      <a class="link__proyects" href="https://lucent-truffle-69e1b5.netlify.app/">Blog Cafe</a>
      <a class="link__proyects" href="https://awesome-panini-7a45c3.netlify.app/">FrontEnd Store</a>
      <a class="link__proyects" href="https://nostalgic-saha-6a227c.netlify.app/">Freelancer</a>
    </div>
    <!-- JavaScript -->
    <script src="assets/script.js"></script>
  </body>