<header>
  <div class="nav-container">
    <div class="yoprogramo-container">
      <a href="https://argentinaprograma.inti.gob.ar/login/index.php"><img class="logo-argpro"
          src="assets/img/argentina-programa-logo.png" alt="logo" /></a>
      <a routerLink="portafolio">
        <h1>#YoProgramo</h1>
      </a>
    </div>
    <div class="socialmedia-container">
      <a href="mailto:eulogio3400@gmail.com"><img class="ico" src="assets/img/E-mail-logo.png" alt=""></a>
      <a href="https://www.facebook.com/santiago.alfonzo.399/"><img class="ico" src="assets/img/Facebook-logo.png"
          alt=""></a>
      <a href="https://www.instagram.com/fede_drk10/"><img class="ico" src="assets/img/Instagram-logo.png" alt=""></a>
      <a href="https://github.com/Fededrk"><img class="ico" src="assets/img/Github-logo.png" alt=""></a>
      <a href="https://www.linkedin.com/in/santiago-federico-alfonzo-79306422b/"><img class="ico"
          src="assets/img/linkedin-logo.png" alt=""></a>
    </div>
    <a routerLink="login" class="button">LOGIN</a>
  </div>
</header>