<div class="home-page">

  <div class="container page">
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col-md-8 col-sm-10">
        <div class="banner-container">
          <img class="banner__main" src="/assets/img/banner.jpg" alt="" max-width="100%">
          <img class="banner__angular" src="/assets/img/Angular-logo.png" alt="" max-width="100%">
        </div>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <div class="perfil">
              <img src="/assets/img/perfil.jpeg" alt="">
            </div>
          </div>
          <div class="col-md-9" style="display: flex; align-items: center;">
            <h2 class="footer-container">Santiago F. Alfonzo <br> Full Stack Developer Jr.</h2></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a *ngFor="let skill of tags"
               (click)="setListTo('all', {tag: skill})"
               class="tag-default tag-pill">
               <span title="{{ skill.progress }}">{{ skill.skill }}</span>
            </a>
          </div>



          <!-- Skill Progress List -->

          <div class="circle-maincontainer">
            <div class="circle-container" *ngFor="let skill of tags">
              <h4>{{ skill.skill }}</h4>
              <div class="circle1"></div>
              <span class="percent">{{ skill.progress }}%</span>
            </div>
          </div>


          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
